@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --foreground-hex: #e7e8e8;
  --background-hex: #070707;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: #e7e8e8;
    --background-hex: #070707;
  }
}

body {
  color: rgb(var(--foreground-hex));
  background: var(--background-hex);
  font-family: "Inter", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
